<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="basketcasey.com.androidsecurenote">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true">
        <activity
                android:name=".SecureNoteMain"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".NoteList"
                android:label="@string/title_activity_note_list" >
        </activity>
        <activity
                android:name=".GroupManager"
                android:label="@string/title_activity_group_manager" >
        </activity>
        <activity
                android:name=".NoteDetails"
                android:label="@string/title_activity_note_details" >
        </activity>
    </application>

</manifest>